<html>
    <head>
        <title>Popup-manager</title>
        <link rel="stylesheet" href="input-form.css">
    </head>
    <body>
        <div> <a href="/links">links</a>
          <center><h1>Welcome to Popup Manager</h1></center>
            <form action="/form" method="POST">
              <label for="first"><strong>First popup</label>
              <input type="text" id="fname" name="first" placeholder="https://sadasdead....">
              <label for="second"><strong>Second popup</strong></label>
              <input type="text" id="fname" name="second" placeholder="https://sadasdead....">
              <label for="third"><strong>Third popup</strong></label>
              <input type="text" id="fname" name="third" placeholder="https://sadasdead....">
              <label for="fourth"><strong>Fourth popup</strong></label>
              <input type="text" id="fname" name="fourth" placeholder="https://sadasdead....">
              <label for="fifth"><strong>Fifth popup</strong></label>
              <input type="text" id="fname" name="fifth" placeholder="https://sadasdead....">
              <label for="sixth"><strong>Sixth popup</strong></label>
              <input type="text" id="fname" name="sixth" placeholder="https://sadasdead....">
              <label for="seventh"><strong>Seventh popup</strong></label>
              <input type="text" id="fname" name="seventh" placeholder="https://sadasdead....">
              <label for="eighth"><strong>Eighth popup</strong></label>
              <input type="text" id="fname" name="eighth" placeholder="https://sadasdead....">
              <label for="ninth"><strong>Ninth popup</strong></label>
              <input type="text" id="fname" name="ninth" placeholder="https://sadasdead....">
              <label for="tenth"><strong>Tenth popup</strong></label>
              <input type="text" id="fname" name="tenth" placeholder="https://sadasdead....">
              <input type="submit" value="Submit">
            </form>
          </div>
    </body>
</html>